# Archivos de Visual Studio
.vs/
.vscode/
.idea/

# Archivos generados por .NET
bin/
obj/

# Archivos de configuración local de Visual Studio
.vs2019/
.vs2017/
.vs2015/

# Archivos de configuración locales de .NET
appsettings.Development.json
appsettings.Local.json
secrets.json

# Archivos generados por NuGet
*.nupkg
.nuget/

# Archivos de test
TestResults/

# Archivos de dependencias de paquetes (para proyectos .NET Core)
project.lock.json
project.fragment.lock.json
artifacts/

# Archivos de usuario de Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de base de datos locales (si se usan en desarrollo)
*.mdf
*.ldf

# Archivos de dependencias de front-end (si usas npm/yarn en un Blazor WebAssembly)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Archivos de Docker (si usas Docker en el proyecto)
docker-compose.override.yml

# Archivos de compilación (si usas Blazor WebAssembly)
wwwroot/_content/
